[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Chromium Kiosk
Exec=/usr/local/bin/start-chromium-kiosk.sh
OnlyShowIn=XFCE
RunHook=0
StartupNotify=false
Hidden=false
